@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply delay-0 duration-150;
}

head,
body,
:root {
  @apply overflow-x-hidden scroll-smooth bg-base-100 text-sm tracking-wide md:text-lg;

  font-family: 'Inter Variable', sans-serif;
}

.bg-grid {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="rgb(148 163 184 / 0.1)"><path d="M0 .5H31.5V32"/></svg>');
}

.font-outfit {
  font-family: 'Outfit Variable', sans-serif;
}

.btn {
  @apply px-4 font-medium normal-case;
}

.btn-wide {
  @apply px-6 py-4;
}
