@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  @apply duration-150 scroll-smooth;
}

html,
body {
  @apply h-full;
}

.btn-icon-content {
  display: grid;

  grid-template-columns: 1rem 1fr;
  gap: 0.25rem;
}

.text-gradient {
  @apply bg-clip-text text-transparent box-decoration-clone;
}

.text-gradient-heading {
  @apply text-gradient;

  background-image: linear-gradient(to bottom,
    rgb(var(--color-primary-600)),
    rgb(var(--color-primary-700)));

  &:is(.dark &) {
    background-image: linear-gradient(to bottom,
      rgb(var(--color-primary-50)),
      rgb(var(--color-primary-300)) 50%,
      rgb(var(--color-primary-400)) 100%);
  }
}
